<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %m%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-25([%thread]) %-5level | %m [%logger{0}]%n</pattern>
    </encoder>
    <file>logs/adapter.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/adapter.%d{yyyy-MM-dd}-tests.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <logger additivity="false" level="DEBUG" name="com.google">
    <appender-ref ref="FILE"/>
  </logger>

  <logger additivity="false" level="DEBUG" name="com.google.model">
    <appender-ref ref="FILE"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>